<div class="container">
    <div class="row customrow align-items-center">
        <div class="col-12">

            <div class="row justify-content-center">
                <div class="col-4 d-grid">
                    <h1>Login</h1>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button type="button" class="btn mt-4 btn-primary" (click)="signin()">Entrar</button>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-4 d-grid">
                    <button (click)="register()" type="button" class="btn btn-light">Quiero registrarme</button>
                </div>
            </div>

        </div>
    </div>
</div>