<div class="container menu-box">

    <div class="logo">
        <img src="assets/images/thepeople.svg" alt="thepeople">
    </div>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Búsqueda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link new-upload" href="#">Subir nuevo</a>
        </li>
    </ul>

</div>
