.main-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.white-container {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(103, 99, 139, 0.120674);
    h1 {
        padding: 30px 0;
    }
    .main-box {
        margin-bottom: -200px;
    }
}

.title {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(38, 37, 51, 0.609199);
    margin-top: 20px;
    margin-bottom: 4px;
}

.data {
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.secondbox {
    margin-top: 200px;
}
