<div class="white-container">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5 main-box">
                <h1>Bill gates</h1>
                <img class="main-img" src="assets/images/main-1.png" alt="">
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-5 secondbox">

            <p class="title">Fecha de nacimiento</p>
            <p class="data">28 de Octubre de 1900</p>

            <p class="title">Profesión</p>
            <p class="data">Filántropo</p>

            <p class="title">Bio</p>
            <p class="data">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint repellat fugiat iste nobis ipsa eos, corrupti optio, neque consectetur eveniet id dolorem voluptatum atque error ullam illum commodi excepturi voluptas.</p>

        </div>
    </div>
</div>
