<div class="main-box">

    <div class="container">

        <div class="row">

            <div class="col-6">

            </div>

            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" (dateChange)="startChange($event)">
                        <input matEndDate placeholder="End date" (dateChange)="endChange($event)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>

        </div>


    </div>

</div>

<div class="container">

    <div class="row">
        <div *ngFor="let person of allPeople" class="col-4 mt-4 card-box">
            <a class="selection-card" [routerLink]="['/detail/' + person.id ]">
                <div class="img-card" [ngStyle]="{'background-image': 'url('+ person.photo + ')' }"></div>
                <div class="white-card">
                    <h2>{{ person.name }}</h2>
                    <p class="date"> {{ person.birthdate }}</p>
                    <p class="job">{{ person.job }}</p>
                </div>
            </a>
        </div>
    </div>

</div>