<div class="main-box">

    <div class="container">

        <p>Aqui van cosas</p>

    </div>

</div>

<div class="container">

    <div class="row">
        <div *ngFor="let person of allPeople" class="col-4 mt-4 card-box">
            <a class="selection-card" [routerLink]="['/detail/' + person.id ]">
                <div class="img-card" [ngStyle]="{'background-image': 'url('+ person.photo + ')' }"></div>
                <div class="white-card">
                    <h2>{{ person.name }}</h2>
                    <p class="date"> {{ person.birthdate }}</p>
                    <p class="job">{{ person.job }}</p>
                </div>
            </a>
        </div>
    </div>

</div>