<div class="container">

    <div class="box-home">

        <div class="main-bg"></div>

        <div class="left-item">
            <h1>Descubre perfiles de<br><span>famosos</span></h1>

            <div class="search-box">
                <input #name type="text" class="search-input" placeholder="Busca por nombre o apellido">
                <button (click)="navigateToSearch(name.value)" type="button" class="btn btn-search">
                  <img src="assets/images/search.svg" alt="Buscar">
                </button>
            </div>
        </div>

    </div>

</div>