<div class="container">
    <div class="row customrow align-items-center">
        <div class="col-12">

            <div class="row justify-content-center">
                <div class="col-4 d-grid">
                    <h1>Regístrate</h1>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput">
                        <label for="floatingInput">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword">
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                    <button type="button" class="btn mt-4 btn-primary">Registrarme</button>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-4 d-grid">
                    <button (click)="login()" type="button" class="btn btn-light">Ya tengo cuenta</button>
                </div>
            </div>

        </div>
    </div>
</div>